<div class="main clearfix">
    <div class="left">
        <div class="content">
            <ul>
                <li class="active" ui-sref="/main.act"><a href="">Act</a></li>
                <li ui-sref="/main.ehcache"><a href="#ehcache">Ehcache</a></li>
                <li ui-sref="/main.log"><a href="#log">Log</a></li>
                <li ui-sref="/main.offline"><a href="#offline">Offline</a></li>
                <li ui-sref="/main.meta"><a href="#meta">Meta</a></li>
                <li ui-sref="/main.notice"><a href="#notice">Notice</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="content">
            <div ui-view>
            </div>
        </div>
    </div>

</div>